
#social
{
    margin: -16px 8px;
}

.icon-mail, .icon-vimeo, .icon-dribbble, .icon-github
{
    width:28px;
	height:28px;
	display:block;
	background-repeat:no-repeat;
    background-image:url("/assets/social.png");
}

.icon-mail
{
	background-position: 0 0;
}
.icon-mail:hover
{
	background-position: 0 -38px;
}
.icon-vimeo
{
	background-position: -56px 0;
}
.icon-vimeo:hover
{
	background-position: -56px -38px;
}
.icon-dribbble
{
	background-position: -112px 0;
}
.icon-dribbble:hover
{
	background-position: -112px -38px;
}
.icon-github
{
	background-position: -168px 0;
}
.icon-github:hover
{
	background-position: -168px -38px;
}

.icon-github:before
{
	content:"";
}
.icon-dribbble:before
{
	content:"";
}
.icon-vimeo:before
{
	content:"";
}
.icon-mail:before
{
	content:"";
}
